<div class="flex-block-container-vertical full-page">
    <div class="left-nav-container">
        <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
          <button mat-raised-button class="side-button " color="primary" 
            routerLink="" routerLinkActive="active">&#60; BACK</button>
        </nav>
      </div>
    <div class="center-block-container">
      <main class="center-block height-fit-content">
          <article>
            <header>
              <h1>MACHINE LEARNING</h1>
            </header>
            <aside class="left-image-block">
              <figure>
                <img src="assets/machinelearningicon.png" alt="Machine Learning Icon">
              </figure>
            </aside>
            <p>Machine Learning and Artificial Intelligence has been suffering a degree of buzzword syndrome but that
              seems to be levelling out but we still have a way to go. There are also a massive amount of misconceptions
              about AI in the general public due to science fiction media.</p>
            <p>I disagree with Mr Elon Musk that AI is a great threat to humanity. I believe human level AI is still
              decades if not centuries away. My reasoning for is - </p>
            <p>A) Asking the average Neuron Surgeon if we understand the brain entirely and they will say no, we
              understand parts of it, we know roughly what regions of the brain do, but certainly not the entirety,
              and definitely not to neuron level. How can we replicate something we don't understand? We can't.</p>
            <p>B) Right now the average 'AI' is a very Weak AI, a term which means not complex. There is no way
              any AI is approaching a General AI level, everything is very specific in what it does. Yes we can build
              pieces together, like visual AI which can recognise objects, or facial recognition AI which can recognise
              eyes, noses and mouths and use that to build an understand of a face, or language AIs which can recognise
              patterns in language. But recognising is not the same as understanding.</p>
            <p>Its the Chinese Room problem. An AI can receive data in, process it and push data out, but that
              processing is not the same as understanding. It cannot create something new. Even AI that create
              'new' works of art, what they create is a randomised version of the data it has been trained with.
              There is nothing abstract that the AI can take forward, if something was not included in the training
              data it cannot conceive of it on its own. True Strong AI must be able to abstractly connect concepts
              like a human can, which I believe is still a long way away as we don't understand how humans do it yet.</p>
            <p>An AI trained to recognise pictures of Dogs cannot recognise a stop sign or what it means. It's outside
              its understanding. Same as an AI trained for cars knows nothing about the Stock Market, nor can it. It can't
              draw any connections any more than a hamster can appreciate the works of Shakespeare.</p>
            <p>Regardless, any work I do on Machine Learning is visible on the right. Click the links to see my work.</p>
          </article>
        </main>
    </div>
    <div class="right-nav-container">
        <nav class="right-nav flex-block-container-horizontal-to-vertical">
        </nav>
    </div>
</div>