<div class="flex-block-container-vertical full-page">
  <div class="left-nav-container">
      <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
        <button mat-raised-button class="side-button " color="primary" 
          routerLink="" routerLinkActive="active">&#60; BACK</button>
      </nav>
    </div>
  <div class="center-block-container">
      <main class="center-block">
        <article>
          <header>
            <h1>CYBERNETICS</h1>
          </header>
          <aside class="left-image-block">
            <figure>
              <img src="../../assets/cyberneticsicon.png" alt="Cybernetics Icon">
            </figure>
          </aside>
          <p>I have an interest in Robotics and Cybernetics. My degree was in Artificial Intelligence and Cybernetics
            and so its something that has always been a passion.</p>
          <p>At University there were many who were looking into the science of Cybernetic limbs to help those
            who had lost their originals due to accident or other reasons. This area is a resource on recent 
            advancements in the field, plus any other ideas I might have regarding cybernetics.</p>
          <p>One of my previous Professors, Prof. Kevin Warwick, implanted a chip into his arm which could read
            his nerve impulses and signals. This was then translated to a robotic hand which moved in the same
            motion as his real hand. The really fun bit was when he put pressure sensors on the hand and fed the
            response signals back into his own nervous system. He could feel when the sensors on the robot hand
            were pressed.</p>
          <p>I would love to start a business one day dealing in Cybernetic parts. I see it as an inevitable
            direction, and whilst there will be a rival in the biology/organic field for limb and organ
            replacement, I feel a mechanical solution is more reliable.</p>
          <p>The interchanging of parts on a case by case basis its sensible. The human form becomes a
            lego set so you can become whatever you desire to be, unlimited or constrained by nature.
            Of course the brain would have to adapt to this, but the brain is surprisingly flexible and
            malleable in this regard.</p>
          <p>We will all grow old one day and our organic limbs will fail us. When that day comes I hope
            the science of cybernetics will be advanced enough to preserve and sustain me far beyond a 
            historic human life span so I can reach the stars which I love so much.</p>
          <p>A silly dream, but I would love nothing more than to visit distant stars and worlds,
            see the birth of planets, the death of moons and the unimaginable life that teems beyond
            our solar system.</p>
          <p>But first we must master the fusion of machine and humanity so we can clutch the stars
            in our hands.</p>
        </article>
      </main>
  </div>
</div>