<aside class="left-image-block">
  <figure>
    <img src="../../../assets/dataanalysisicon.png" alt="Data Analysis Icon">
  </figure>
</aside>
<p>This page contains current Data Analysis Projects.</p>
<p>I like Data and crunching numbers. One day I might perhaps get a job in Data as a Data Scientist. It all links
  back to my interest in Machine Learning. I did a Data Analyst/Engineer role for a while but I'd like to really
  explore data and find value in it. Develop quality data solutions from datasets.</p>
<p>Numbers do not lie, but you need to understand what they are telling you. If someone says deaths are up by
75%, that could be up from 4 to 7, or it could mean up from 10,000 to 17,500. Context matters. But the numbers
cannot lie. I like exploring numbers to understand their truth, and I never trust a statistic I didn't generate
myself unless I can see the underlying data.</p>
<p>"There were lies, there were damned lies, and there were statistics" - Arthur James Balfour, 1892, 
  misattributed to Benjamin Disraeli and Mark Twain.</p>
<p>Click the buttons on the right to view a Data Analysis Project.</p>
