<header><h2>2020-04-28</h2></header>
<p>First blog!</p>
<p>Yes, this is my first blog here. For those interested in the tech I generate an Angular component per blog page.
  I did have a blog on blogspot but to be honest it was a pain in the neck to keep logging in to and manage the pages.
  Writing in pure HTML bit be a bit more work than using a Rich Text Editor but if anything I have MORE functionality here
  rather than less so its swings and roundabouts.</p>
<p>I must admit though it takes a bit of effort writing several paragraphs about every project I have on GitHub, plus
  all the other projects I have swimming around in my head. Somehow though I start typing and then words come out so
  its working I guess.</p>
<p>At least I've managed to put a lot of work into the CSS and SASS. Even just from a DRY code standpoint being able to
  to structure the design in such a way that common elements can be easily reused is helpful. I know mixins have
  existed for a while, but inheritance through extend in SASS is a more efficient way of doing it. Mixins can have
  passed in parameters so there are times they are more useful. But for this site, extend is sufficient.</p>
<p>I want to dig out some Data Sets for the Data Analysis and Machine Learning pages so I can structure some
  Angular Services around importing data and start playing with that. The hope is to get all major elements of
  Front End Angular back under my belt ready for possible steps forward. I'll swing back around to my Python
  and C# shortly as well, but everything needs to be a step at a time.</p>
