<div class="flex-block-container-vertical full-page">
    <div class="left-nav-container">
        <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
          <button mat-raised-button class="side-button " color="primary" 
            routerLink="" routerLinkActive="active">&#60; BACK</button>
        </nav>
      </div>
    <div class="center-block-container">
      <main class="center-block height-fit-content">
          <article>
            <header>
              <h1>DATA ANALYSIS</h1>
            </header>
            <router-outlet></router-outlet>
            </article>
        </main>
    </div>
    <div class="right-nav-container">
      <nav class="right-nav flex-block-container-horizontal-to-vertical" *ngFor="let project of projectRoutes;">
        <button mat-raised-button class="side-button" color="primary"
          routerLink="{{project.path}}" routerLinkActive="active">{{project.path}}</button>
      </nav>
  </div>
</div>