<div class="flex-block-container-vertical full-page">
    <div class="left-nav-container">
        <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
          <button mat-raised-button class="side-button " color="primary" 
            routerLink="" routerLinkActive="active">&#60; BACK</button>
        </nav>
      </div>
    <div class="center-block-container">
        <main class="center-block">
          <article>
            <header>
              <h1>PRESERVATION</h1>
            </header>
            <aside class="left-image-block">
              <figure>
                <img src="assets/preservationicon.png" alt="Preservation Icon">
              </figure>
            </aside>
            <p>For some people this might be a bit weird so please give me the benefit of the doubt before labelling me
              a 'prepper'.</p>
            <p>I am a rather cautious individual and given everything that has happened over the past few year of my
              life (and particularly the events of the year 2020 in which I am currently writing), we can never know
              what is going to happen. Disaster can strike at any time, and when the do few are prepared for it.</p>
            <p>If disasters were predictable then they wouldn't be so damaging, but they aren't and they are,
              so preparation is a sensible precaution. It is why Norway hosts the World's Seed Bank, preserving
              plant life in case of disaster.</p>
            <p>For the sake of my family and all who come after me, I wish them to be ready and to survive any disasters
              that befall the world. I wish to ensure they have all the knowledge and skills (and for myself to have
              said knowledge and skills) to be self-sufficient if the need arises. Everything from food, water,
              shelter, to more advanced elements such as electricity generation and medical skills.</p>
            <p>Beyond this, I would like to try to preserve as much of humanity's knowledge as possible, in the
              event we slip into a Modern Dark Age.</p>
            <p>In the book Foundation by Issac Asimov, Hari Seldon prepares for the end of the Galactic Empire by
              establishing the Foundation, a resource to aid humanity rebuild after the collapse. The original purpose
              is a ruse, as rather than preparing a record of humanity's knowledge instead the Foundation predicts the
              course of future events subtly guiding humanity in a specific direction.</p>
            <p>Whilst I could never profess to be anywhere near Hari Seldon in my abilities, gathering together key
              pieces of scientific knowledge to ensure it does not get lost for generations and set humanity back
              centuries unnecessarily is something that would give me peace of mind.</p>
            <p>I believe humanity has a destiny in the wider galaxy, and whilst I would love to see that begin
              to emerge in my lifetime I think that unlikely. Regardless, I want my descendants to have that
              freedom to claim their birthright amongst the stars, and so to that end I want to ensure society
              and technology progresses forward safely and successfully, without interruption.</p>
            <p>If humanity pulls itself together then such a thing would never be needed, but I would rather have
              the resources ready for a New Dark Age and not need them, then fall into the old mistakes which occurred
              during the fall of the Roman Empire and lose technology and knowledge for centuries.</p>
            <p>This might seem a bit much, but failing to plan is planning to fail. This applies to our
              entire species and society as well.</p>
            <p>This page will be a catalogue of resources in aid of that (yes, I know it will be offline
              in the case of the internet collapsing, but I will have a local copy in some format that will be
              usable, such as paper, although stone/metal/glass engraving seems more durable...)</p>
          </article>
        </main>
    </div>
</div>