<div class="flex-block-container-vertical full-page">
    <div class="left-nav-container">
        <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
          <button mat-raised-button class="side-button " color="primary" 
            routerLink="" routerLinkActive="active">&#60; BACK</button>
          <a mat-raised-button class="side-button " color="primary" href="https://github.com/techpriestjon" 
            target="_blank">GITHUB</a>
          <a mat-raised-button class="side-button " color="primary" href="https://www.linkedin.com/in/jonathonmartin88/" 
            target="_blank">LINKEDIN</a>
        </nav>
      </div>
    <div class="center-block-container">
      <main class="center-block height-fit-content">
          <article>
            <header>
              <h1>ABOUT</h1>
            </header>
            <p>Salutations. Welcome to the Tangent Forge.</p>
            <p>The Tangent Forge is a site for all my projects and ideas I have banging around in my head. Its also
              an excuse to play around with Javascript Front End Frameworks like Angular and React. Please feel free to
              browse the pages and have a look at what projects I plan to work on when I have the time and inspiration.</p>
            <p>Its a place of development, therefore a Forge, but the ideas may be all over the place and I may not work
              on the consistently, thus the Tangents.</p>
            <p>For those new here, my name is Jonathon. I have been developing software and websites for 8 years or more now. 
              I've worked with a number of technologies from Javascript, Classic ASP and VB in the olden days, 
              to C# .Net and .Net Core, Angular, Python, T-SQL and more. I've picked up Front End, Back End, Full Stack,
              and some Data Analysis and Engineering skills over the years and are just generally passionate about technology
              without sticking rigidly to a single language or aspect.</p>
            <p>Machine Learning and AI is another interest of mine, and one day I'd love to bring these skills into my job,
              perhaps as a Data Scientist or Neural Network Developer (although I realise it as a rather niche area). I also
              wouldn't mind becoming a team leader with perhaps a view to one day reaching the position of Technical Director.
              I enjoy managing people, teams and work, and finding ways to make various individuals work most effectively 
              together.</p>
            <p>For fun I have a range of interests from technology (which is helpful due to my profession!) to history
              (from the Ancient Roman period, early Anglish Kingdoms, the English Civil War to Modern History of the past
              century). I also take an interest in politics and economics, along with current events.</p>
            <p>Unsurprisingly I am also a fan of Science Fiction and Fantasy of various kinds. Music wise my play-lists
              are usually Rock and Metal, usually European Power Metal though with other shades of Heavy and beyond as well,
              but anything that appeals can make its way onto my MP3 device (include some odd stuff like the Conet Project).</p>
            <p>On long travels to work I tend to listen to a lot of Audiobooks on Audible as well as my music collection.</p>
            <p>Browse the site, or check out my Github or LinkedIn on the buttons to the side.</p>
          </article>
        </main>
      </div>
</div>
