<div class="flex-block-container-vertical bg-metal">
  <div class="left-nav-container">
    <nav class="left-nav flex-block-container-horizontal"> 
      <button mat-raised-button class="side-button " color="primary">BLOG</button>
      <button mat-raised-button class="side-button " color="primary">VERDURE</button>
      <button mat-raised-button class="side-button" color="primary">CUPPAK</button>
      <button mat-raised-button class="side-button" color="primary">BACON SARNIE</button>
    </nav>
  </div>
  <div class="center-block-container">
    <main class="center-block">
      <img class="reserve-spin-cog"
      alt="spinning cog"
      src="assets/cogspin1.png" />  
        <img class="spin-cog"
        alt="spinning cog"
        src="assets/cogspin1.png" />
        <button mat-raised-button disabled class="center-button" color="primary">ACCESS RECORDS</button>
    </main>
  </div>
  <div class="right-nav-container">
    <nav class="right-nav flex-block-container-horizontal">
      <button mat-raised-button class="side-button " color="primary">PYTHON ML</button>
      <button mat-raised-button class="side-button" color="primary">GC</button>
      <button mat-raised-button class="side-button" color="primary">PF</button>
    </nav>
  </div>
</div>
  