@import '../styles.sass'


.bg-metal
    background-image: url("../assets/backgroundmetal-sml.png")
    background-repeat: no-repeat
    background-size: 100% 100% 
    height: 100vh

app-main
    background: #464