<div class="flex-block-container-vertical full-page">
    <div class="left-nav-container">
        <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
          <button mat-raised-button class="side-button " color="primary" 
            routerLink="" routerLinkActive="active">&#60; BACK</button>
        </nav>
      </div>
    <div class="center-block-container">
      <main class="center-block height-fit-content">
          <article>
            <header>
              <h1>GAME CODE</h1>
            </header>
            <aside class="right-image-block">
              <figure>
                <img src="assets/gamesicon.png" alt="Gaming Icon">
              </figure>
            </aside>
            <p>As a typical kid growing up in the 90s, I had a great deal of fun with various video games. I found myself
              falling into Nintendo crowd during the early console wars. I had my N64 and Gameboy Colour (or Color) and
              I had many hours of fun playing everything from Zelda to Pokemon.</p>
            <p>I also had many PC games, with a particular interest in RPG and Strategy games, such as KOTOR, Mass Effect,
              Fallout 3, Rome Total War, Evil Genius, Star Wars: Empire At War, 40k Dawn of War, Tropico and Minecraft
              amongst others.</p>
            <p>I hope to make my own games some day, so when I have time I will be tinkering with Unity using C#. When I
              have something to show I will link it here.</p>
            <p>Also I have been looking at using Pyglet for Python Game Development, and so Bacon Sarnie is an unofficial
              and unsupported wrapper for it which will allow for faster and structured development. Once its in a usable
              state I will be using it for some 2D games I have ideas for.</p>
            <p>This is one area I've had more ideas than time to work on them.</p>
          </article>
        </main>
      </div>
</div>
