<div class="flex-block-container-vertical full-page">
    <div class="left-nav-container">
        <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
          <button mat-raised-button class="side-button " color="primary" 
            routerLink="" routerLinkActive="active">&#60; BACK</button>
          <a mat-raised-button class="side-button " color="primary" href="https://github.com/TechPriestJon/CuppaK" 
            target="_blank">GITHUB</a>
        </nav>
      </div>
    <div class="center-block-container">
      <main class="center-block height-fit-content">
          <article>
            <header>
              <h1>CUPPAK</h1>
            </header>
            <aside class="right-image-block">
              <figure>
                <img src="assets/cuppakiconfull.png" alt="CuppaK Icon">
                <figcaption>CuppaK Icon</figcaption>
              </figure>
            </aside>
            <p>CuppaK (pronaunced Cuppa K) is a twin to Bacon Sarnie and another bad joke.</p>
            <p>TK and TKInter (short for TKInterface) are GUI Packages which can be used for cross-platform
              GUI for desktop across Windows, Linux etc. for Python.</p>
            <p>Whilst I have dabbled with Electron I am not one for building App for Web and deploying them
              as desktop. Electron in particular had known securities issues due to a single instance of Electron
              running for all Electron applications. Also the 'Everything Is Web' idea is not one I really subscribe to.
              I like my desktop Apps to be desktop Apps.</p>
            <p>CuppaK, much like Bacon Sarnie, is a joke on the name TK. Tea K. A cup of tea, aka a Cuppa T. 
              A Cuppa K. I know its very bad.</p>
            <p>CuppaK like Bacon Sarnie is a wrapper for TK to allow for reusable components and screens to
              allow for the faster development of larger scale desktop apps in Python. Doing things like freezing
              all buttons whilst a dialog is open is something which needs to be carefully managed to ensure state
              is managed correctly.</p>
            <p>Originally the idea was to develop the package along with Bacon Sarnie so the 2 could be combined to
              create a World-Building app for writers to help them track characters and events in a larger world building
              structure but that got put a bit to the wayside for the moment.</p>
            <p>When I have the time and the inspiration I will look at it again.</p>
            <p>GitHub to the side, as all the others.</p>
          </article>
        </main>
      </div>
</div>
