<header><h2>2020-05-06</h2></header>
<p>Angular Services time</p>
<p>Been working on getting a nice http service to use here on the Tangent Forge. I must admin, the resources
  have come a long way since I was last playing with Angular. Full mocking of http request is an excellent feature
  which is needed in any mature language or framework involving API calls.</p>
<p>The ability to do retries and actually test those retries is another fantastic feature. This would have been
  such a pain in the backside several years ago, its made so much easier now.</p>
<p>I'd love to do some heavy logging and some fun error handling for access tokens but I don't really have the time
  or resource to something that complex right now. When I have the money I might set myself up a nice little Azure
  setup (though once I have the cash I probably won't have the time... first world problems. Not being able to
  get a driving license until the process is complete is a bit of a bind and costly in time).</p>
<p>The way things are going I might be back to normal hours soon, fingers crossed. Its a pity I was going to push
  forward my video game coding but that'll have to wait. I know the wife will want to spend some time getting out
  and about especially when things reopen. Being trapped indoors is no fun, especially when the weather turns good.</p>
<p>I must admit I'd like to tick off a few to-dos once we're not all in full panic lock down. I haven't been to a
  Cheesecake Factory since about 2017. Just want to do something nice and remember what it took for me and the 
  wife to get here.</p>
