<div class="flex-block-container-vertical full-page">
  <div class="left-nav-container">
      <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
        <button mat-raised-button class="side-button " color="primary" 
          routerLink="" routerLinkActive="active">&#60; BACK</button>
      </nav>
    </div>
  <div class="center-block-container">
    <main class="center-block height-fit-content">
        <article>
          <header>
            <h1>COMMUNITY</h1>
          </header>
          <aside class="left-image-block">
            <figure>
              <img src="assets/communityicon.png" alt="Community Icon">
            </figure>
          </aside>
          <p>I consider myself very lucky. Whilst we all have our problems and traumas growing up I suffered far less
            than others. I believe with the right support, most people can make something great from their lives.</p>
          <p>I'm not so naive to think that anyone can make something of themselves if they just have the resources
            they need (an old girlfriend help disabuse me of that notion), and I am aware we can but open doors for
            people, they need to be willing to walk through those doors themselves.</p>
          <p>That said, there are plenty of people in the world who, if given the chance, could make something
            amazing. I wish to find these people and give them the opportunities they need to build their new
            life. If they have the will and the passion to make their dreams reality, or at the very least to
            improve their situation so they no longer feel helpless or abandoned, then that is something worth doing.</p>
          <p>Every little helps. Like in one of my favourite fables about the man who saves turtles on a beach, 
            you cannot save everyone, but it matters to every one that you save.</p>
          <p>Once I have settled my life down and have sufficient resources I plan to establish a string of
            charitable organisations to aid people in various places and various walks of life. The aim is to find
            those who aren't being helped by existing charitable organisations and support those who still need help
            but cannot get it anywhere else. There are many special interest groups that support people from similar
            backgrounds or identities, who are unable to help certain individuals because they do not meet their
            criteria for aid. I would seek to find those who have fallen in between the cracks of other organisations.</p>
          <p>Possibly I would have one organisation which helped people find the most appropriate organisation to help
            them. I have plenty of ideas.</p>
          <p>This is all in the concept phase at the moment. After moving countries I am rather out of pocket and
            I don't have any local connections (or any beyond local either), so this is something I envision materialising
            a few years down the road, although I can consider any groundwork that needs to be laid already.</p>
          <p>Involving myself with local charities over the coming months and years will probably be a sensible
            starting place, but again, once the current issues I am working on with my own situation are dealt with.</p>
        </article>
      </main>
  </div>
</div>