<div class="flex-block-container-vertical full-page">
    <div class="left-nav-container">
        <nav class="left-nav flex-block-container-horizontal-to-vertical"> 
          <button mat-raised-button class="side-button " color="primary" 
            routerLink="" routerLinkActive="active">&#60; BACK</button>
          <a mat-raised-button class="side-button " color="primary" href="https://github.com/TechPriestJon/BaconSarnie" 
            target="_blank">GITHUB</a>
        </nav>
      </div>
    <div class="center-block-container">
        <main class="center-block">
          <article>
            <header>
              <h1>BACON SARNIE</h1>
            </header>
            <aside class="right-image-block">
              <figure>
                <img src="assets/baconsarnieiconfull.png" alt="Bacon Sarnie Icon">
                <figcaption>Bacon Sarnie Icon</figcaption>
              </figure>
            </aside>
            <p>Pyglet is a great little library/framework for Python which renders GUI and Audio and is designed
              to be used for Game Development. I highly recommend it.</p>
            <p><a class="external-link" href="https://pyglet.readthedocs.io/en/latest/" target="_blank">Pyglet - Read the Docs</a></p>
            <p>A Bacon Sarnie is another name for a Bacon Sandwich. Very common in the UK. Several rashers of bacon
              on buttered bread, possibly with some nice brown sauce. Yum.</p>
            <p>The name is a joke, based on Pyglet. Pigs. Bacon. It probably isn't funny...</p>
            <p>Bacon Sarnie is my homebrew wrapper for Pyglet to allow for faster Game Development by introducing concepts
              such as reusable components for buttons, menus, GUI Overlays, backgrounds and layers, moveable entities etc.</p>
            <p>With these basic building blocks games can be rendered far faster and I can concentrate on the fun bit,
              which is making games and telling the stories I want to tell.</p>
            <p>Bacon Sarnie is an unofficial wrapper and is no way supported or endorsed by Pyglet. Use at your own
              risk. It will be avaliable on GitHub under the same BSD 3 License as Pyglet though I may keep some
              features seperate for my own personal use if I should so choose.</p>
            <p>People may ask why I wouldn't use something like Unity for my game development since these concepts
              are already baked into the Game Engine. Its because Unity is very geared around 3D development whereas
              some of my projects I'd prefer to keep them 2D, also I want to learn the deeper elements of making a 
              Game Engine for myself rather than rely on the implementation of someone else, also I want to experiment
              with Python programming for fun.</p>
            <p>I may well use Unity for some other Projects but I think Bacon Sarnie will be a useful excercise in
              itself so worth investing in.</p>
            <p>The GitHub is linked to the side.</p>
          </article>
        </main>
      </div>
</div>
