
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'styles';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$tg-dark-primary: (
    50: $primary-shade,
    100: $primary-shade-hover,
    contrast: (
        50: $light-primary-text,
        100: $dark-primary-text
    )
);

$TangentForge-primary: mat-palette($tg-dark-primary, 50);
$TangentForge-primary-hover: mat-palette($tg-dark-primary, 100);
$TangentForge-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TangentForge-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$TangentForge-theme: mat-light-theme($TangentForge-primary, $TangentForge-accent, $TangentForge-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($TangentForge-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Courier, "Helvetica Neue", sans-serif; }

.mat-raised-button:hover {
    border: 2px solid $white !important;
    background: linear-gradient(180deg, rgba(68,112,182,1) 0%, rgba(85,144,238,1) 15%, rgba(85,144,238,1) 50%, rgba(85,144,238,1) 85%, rgba(68,112,182,1) 100%);
    color: $black;
    padding: 1px !important;
};

.mat-raised-button {
    border: 1px solid $primary-shade-hover !important;
    background: linear-gradient(180deg, rgba(0,29,34,1) 0%, rgba(0,45,53,1) 15%, rgba(0,45,53,1) 50%, rgba(0,45,53,1) 85%, rgba(0,29,34,1) 100%);
    font: 1em courier;
    padding: 2px !important;
};