@import 'styles.sass'

a.external-link
    color: $link-color
    text-decoration: underline
    font-weight: bold
    font-style: italic

.right-nav-container
    @extend %small-side-block
    float: left

.left-nav-container
    @extend %small-side-block
    float: left
    @media (min-width: 900px)
        margin-right: 15px

.left-nav
    @extend %content-block, %fill-parent-height
    left: -110%
    transform-origin: center left
    transform: rotateY(200deg) translateX(-100%)
    -webkit-animation: slide-left 5.5s forwards
    animation: slide-left 5.5s forwards
    background-image: url("../../assets/backgroundmetal2a.png")
    background-repeat: no-repeat
    background-size: 100% 100% 
    animation-delay: 1s

.right-nav
    @extend %content-block, %fill-parent-height-to-width
    left: 100%
    transform-origin: center right
    transform: rotateY(140deg) translateX(100%)
    -webkit-animation: slide-right 4.5s forwards
    animation: slide-right 4.5s forwards
    background-image: url("../../assets/backgroundmetal2b.png")
    background-repeat: no-repeat
    background-size: 100% 100% 
    animation-delay: 1s
    @media (min-width: 900px)
        margin-left: -15px

.center-block-container
    @extend %large-middle-block
    float: left

.center-block
    @extend %content-block, %fill-parent-height-to-width
    transform: translateY(225%)
    -webkit-animation: slide-up 4s forwards
    -webkit-animation-delay: 0.25s
    animation: slide-up 4s forwards
    animation-delay: 1.25s
    background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(51,51,51,1) 10%, rgba(51,51,51,1) 35%, rgba(51,51,51,1) 75%, rgba(15,15,15,1) 100%)
    border-radius: 25px
    border: 6px solid $black
    @media (min-width: 900px)
        margin-top: 50px
        margin-bottom: 50px
        width: calc(100% - 52px)
    @media (max-width: 900px)
        width: calc(100vw - 60px)
        margin-left: 15px
        margin-right: 15px
        margin-top: 20px
        margin-bottom: 20px

.mat-raised-button.side-button
    @extend %flex-block-vertical-to-horizontal
    align-items: center
    justify-content: center
    text-align: center
    @media (min-width: 900px)
        font-size: 1.3em !important
    @media (max-width: 900px)
        font-size: 0.8em !important
    @media (max-width: 650px)
        font-size: 0.55em !important

.side-button:hover
    font-weight: bold

.mat-raised-button
    text-align: center
    white-space: pre-wrap !important
    @media (min-width: 900px)
        margin-bottom: 20px
        font-size: 1.0em !important
    @media (max-width: 900px)
        font-size: 0.7em !important


.mat-raised-button:disabled, .mat-raised-button:disabled:hover
    color: $white
    border: 2px solid $primary-background !important
    padding: 1px !important
    background: transparent    


@-webkit-keyframes slide-left
    100% 
        transform: rotateY(360deg) translateX(0px)
        left: 0%

@keyframes slide-left
    100%
        transform: rotateY(360deg) translateX(0px)
        left: 0%

@-webkit-keyframes slide-right
    0%    
        margin-left: 10px
    100% 
        transform: rotateY(360deg) translateX(0px)
        left: 0%

@keyframes slide-right
    0%    
        margin-left: 10px
    100%
        transform: rotateY(360deg) translateX(0px)
        left: 0%

@-webkit-keyframes slide-up
    100% 
        transform: translateY(0px)

@keyframes slide-up
    100%
        transform: translateY(0px) 
        